<div class="emailpaged" style="background: #fff;">
    <div class="emailcontent"
         style="width:100%;max-width:720px;text-align: left;margin: 0 auto;padding-top: 20px;padding-bottom: 80px">
        <div class="emailtitle" style="border-radius: 5px;border:1px solid #eee;overflow: hidden;">
            <h1 style="color:#fff;background: #3798e8;line-height:70px;font-size:24px;font-weight:normal;padding-left:40px;margin:0">
                您的评论审核已通过！
            </h1>
            <div class="emailtext" style="background:#fff;padding:20px 32px 40px;">
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;">
                    <span th:text="${ctx.postOwner.spec.displayName}">HaloEmail</span>, 您好!
                </p>
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;">
                    有访客在《<span th:text="${ctx.commentPost.spec.title}">Hello Halo Email！</span>》留言:
                </p>
                <br/>
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0">
                    <span th:text="${ctx.comment.spec.owner.displayName}">匿名用户</span>：
                    <span th:text="${ctx.comment.spec.content}">这也太棒了吧！</span>
                </p>
                <p th:if="${null != ctx.replyComment}"
                   style="color: #6e6e6e;font-size:13px;line-height:24px;padding:10px 20px;background:#f8f8f8;margin:0">
                    <span th:text="${ctx.replyComment.spec.owner.displayName}">匿名用户</span>：
                    <span th:text="${ctx.replyComment.spec.content}">这也太棒了吧！</span>
                </p>
                <br/>
                <p style="color: #6e6e6e;font-size:13px;line-height:24px;">
                    您可以点击
                    <a th:href="${ctx.commentPost.status.permalink} + '#comment-'+ (${null != ctx.replyComment} ? ${ctx.replyComment.metadata.name} : ${ctx.comment.metadata.name})"
                       href="https://github.com/pannanxu/halo-plugin-email">查看完整内容</a>
                </p>
            </div>
        </div>
    </div>
</div>